*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        text-decoration: none !important;
}

.hading{
        color: var(--Gray, #808080);
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 400;
}

.crd{
        border-radius: 20px;
background:#FFF;
box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
padding: 57px 88px 34px 88px;
max-width: 460px;
height: 304px;

}

.zero{
        color: var(--Black, #000);
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 400;

}
.add{
       
padding: 13px 35px;
border-radius: 4px;
border: 1px solid var(--Blue, #128DFF);
color: var(--Blue, #128DFF);
background:transparent ;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;

}
.save{
       
width: 138px;
padding: 13px 35px;
border-radius: 4px;
background: var(--Gradient, linear-gradient(97deg, #128DFF -4.95%, #1444EF 109.04%));
color: var(--White, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
border: unset;
}

.reset{
        position: absolute;
        top: 2%;
        right: 2%;
}
.hading-2{
        color: var(--Black, #000);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
opacity: 0.5;
}

.btn{
        --bs-btn-border-width: unset !important;
}
